@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Comic Neue", cursive;
}

:root {
  --primary-color: #fe0002;
  --secundary-color: #ffbd30;
}

/*------------------- HEADER*/
header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bg-img-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.bg-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.95;
}

/*------------------- NAV*/
nav {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 10%;
  background-color: white;
  display: flex;
  justify-content: center;
}
.nav-content {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-info {
  display: flex;
  align-items: center;
}
.social-links {
  display: flex;
  list-style: none;
  gap: 5px;
  margin-right: 10px;
}
.social-links li {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: black;
}

.social-links li a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  color: var(--primary-color);
  transition: 400ms;
}
.social-links li a:hover {
  color: white;
}
nav img {
  display: none;
}
.nav-contato {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.nav-contato span {
  display: flex;
  align-items: center;
  gap: 2px;
}

.nav-contato span p {
  font-weight: bolder;
}

/* ----------- MOBILE-MENU ------- */
.menu-btn {
  width: 53px;
  height: 53px;
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  display: none;
}

.menu-btn__burguer {
  width: 53px;
  height: 4px;
  background-color: var(--primary-color);
  transition: ease-out 400ms;
  cursor: pointer;
  border-radius: 5px;
}

.menu-btn__burguer::before,
.menu-btn__burguer::after {
  border-radius: 5px;
  position: absolute;
  content: "";
  width: 53px;
  height: 4px;
  background-color: var(--primary-color);
  transition: ease-out 400ms;
}

.menu-btn__burguer::before {
  transform: translateY(-16px);
}
.menu-btn__burguer::after {
  transform: translateY(16px);
}
.menu-btn.open .menu-btn__burguer {
  transform: translateX(-60px);
  background-color: transparent;
}
.menu-btn.open .menu-btn__burguer::before {
  transform: translate(60px, 0px) rotate(-45deg);
}
.menu-btn.open .menu-btn__burguer::after {
  transform: translate(60px, 0px) rotate(45deg);
}

.nav-items {
  display: flex;
  list-style: none;
  gap: 15px;
  z-index: 100;
}

.nav-items a {
  text-decoration: none;
  font-weight: bolder;
  text-transform: uppercase;
  color: black;
  font-size: 1.4rem;
  transition: 400ms;
  text-shadow: 1px 1px 1px black;
}

.nav-items a:hover {
  color: var(--primary-color);
  text-shadow: 1px 1px 1px var(--primary-color);
}

.header_content {
  height: 90%;
  width: 90%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  z-index: 1;
}

.page-title {
  margin-top: 25px;
  font-size: 4rem;
  text-shadow: 2px 1px white;
  color: var(--primary-color);
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.page-subtitle {
  margin-top: 25px;
  font-size: 1.5rem;
  background-color: white;
  padding: 30px;
  color: black;
  text-align: center;
  border: 8px solid black;
  font-weight: bold;
  box-shadow: -10px 10px black;
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #fff;
  background-size: 12px, 100%;
  background-size: 10px, 100%;
}

.header-btn {
  margin-top: 55px;
  cursor: pointer;
  width: 340px;
  height: 70px;
  color: black;
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.8" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23d68810"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #ffcd28;
  background-size: 13px, 100%;
  font-weight: 700;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  border: 6px solid black;
  box-shadow: -8px 8px black;
}

header img {
  width: 15%;
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (max-width: 1050px) {
  .nav-content {
    width: 100%;
  }
}
@media (max-width: 930px) {
  .nav-content {
    position: relative;
    flex-direction: column;
  }
  .header-info {
    height: 100%;
    width: 100%;
    justify-content: flex-start;
  }

  .menu-btn {
    display: flex;
    margin: 0 10px 0 auto;
    cursor: pointer;
  }

  .nav-items {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    height: 0;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    gap: 25px;
    transition: ease-in 400ms;
  }

  .nav-items.open {
    bottom: -228px;
    height: 230px;
  }
}
@media (max-width: 600px) {
  .nav-contato span p {
    font-size: 0.7rem;
  }
  .page-title {
      font-size: 3rem;
  }
  .page-subtitle {
      font-size: 1rem;
      padding: 10px;
  }
}
